<div class="well well-elderflower no-actions">
  <%= content_tag :fieldset do %>
    <legend>Заказать сейчас</legend>
    <p class='hide'>Оформить заказ и вы будете иметь возможность создать учетную запись в конце</p>
    <p>Вам не нужно создавать учетную запись для заказа.</p>
    <p>У Вас будет возможность создать учетную запись, когда вы оформите заказ.</p>
    <span class='pull-right'><%= link_to 'Продолжить как Гость', guests_path, method: :create, class: 'btn btn-primary' %></span>
  <% end %>
</div>