<div class="bottom">
  <div class="align">
    <div class="copyright">
      ©
      <%= Date.current.year %>
      Tokebi
    </div>
    <div class="edit_menu">
      <div class="padding">
        <!-- menu -->
        <ul>
          <li><a href="/articles/">Полезное</a></li>
          <li><a href="/delivery/">Оплата и доставка</a></li>
        </ul>
        <ul class="right">
          <li><a href="/filiali/">Наши филиалы</a></li>
          <li><a href="/contacts/">Контакты</a></li>
        </ul>
        <!-- end: menu -->
      </div>
    </div>
    <div class="number">
      <div class="px"></div>
      <div class="padding">
        10.00-21.00 ежедневно
        <div class="nm"><p>+7 (495) 287 3392</p></div>
        <div class="regions_call">
          Для звонков из регионов
          <div class="nm">8 (800) 555 8411</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="bottom_grey">
  <p><noindex>Вся информация, размещенная на сайте www.tokebi.ru, ни при каких условиях не является публичной офертой или рекламой, определяемой положениями статьи 437(2) ГК РФ и носит исключительно информационный (справочный) характер. Для получения подробной информации о стоимости, наличии, характеристиках товара, сроках и условиях его поставки обращайтесь по указанным телефонам.</noindex></p>
</div>
