<div class="head">
  <div class="bg">
    <div class="align">
      <%= render "layouts/shared/navigation" %>
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', alt: 'Бытовая техника' %>
        <% end %>
        <br/>
        <span class="logo-header">Бытовая техника</span>
      </div>
      <div class="header-phone">
        <div class="regions_call_header_top">
          10.00-21.00 ежедневно
          <br/>
          <span class="nm">+7 (495) 287 3392</span>
        </div>
        <div class="regions_call_header">
          Для звонков из регионов
          <br/>
          <span class="nm">8 (800) 555 8411</span>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
