<div class='well well-nav-list'>
  <ul class='nav nav-list'>
    <li class='nav-header'>Пользователь</li>
    <%= render_menu_for "Профиль", edit_user_registration_path %>
    <%= render_menu_for "История заказов", user_orders_path(current_user) %>
  </ul>
</div>