<legend>Итого</legend>
<div class='total'><%= number_to_price(cart.get_balance) %></div>
<table class='table'>
  <thead>
    <tr>
      <th colspan='2'>Детали</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Общая цена за товар</td>
      <td width='90' class='sub-total price'>
        <%= number_to_price(cart.total) %>
      </td>
    </tr>
    <tr>
      <td>Цена за доставку</td>
      <td class='shipping-rate price'>
        <%= (cart.address.present? and cart.address.country.present? and cart.address.rate) ? number_to_price(cart.address.rate) : "не рассчитывается" %>
      </td>
    </tr>
  </tbody>
</table>