/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "carts";
@import "categories";
@import "home";
@import "layout";
@import "orders";
@import "product";

@font-face {
  font-family: 'neosans';
  src: font-url('NeoSansPro-Regular.otf') format('opentype');
}

body {
  font-family: 'neosans', Tahoma, sans-serif;
  font-size: .8em;
  color: #333;
  position: relative;
  width: 100%;
  background: #fff image-url('page_bg.png');
}

.path, .middle, .head, .bottom, .clear, .filter, .banners, .tovar_tags {
  clear: both;
}

.head {
  margin: 0px;
  overflow: hidden;
  background: #ddeef9 image-url('head_bg.png') top left repeat-x;
}

.head .bg {
  background: image-url('head_bgg.png') top center no-repeat;
  text-align: center;
}

.head .align {
  margin: 0px auto;
  text-align: left;
  width: 1024px;
  position: relative;
}

.head .logo {
  margin: 20px 0px 20px 0px;
  color: #8c8e8c;
  float: left;
}

.site_title {
  position: absolute;
  top: 20px;
  left: 545px;
  color: #87c9f3;
  width: 180px;
  text-align: center;
  font-size: 18px;
}

.edit_menu {
  width: 244px;
  height: 90px;
  float: left;
  position: relative;
}

.edit_menu .padding {
  padding: 35px 30px 0px 0px;
}

.edit_menu ul li {
  list-style: none;
}

.edit_menu ul.right {
  position: relative;
  left: 90px;
}

li {
  line-height: 15px;
}

.number {
  color: #888;
  width: 100%;
  height: 90px;
  float: left;
  position: relative;
}

.number .padding {
  vertical-align: middle;
  padding: 25px 0px 0px 0px;
}

.nm {
  color: #f8a642;
  font-size: 23px;
  font-weight: bold;
}

.nm p {
  margin: 0px 0px 0.6em;
}

.basket {
  float: left;
  width: 288px;
  height: 169px;
  background: image-url('edit_bg.png') top left no-repeat;
  overflow: hidden;
  top: -10px;
  left: -80px;
  margin-right: -80px;
  position: relative;
}

.basket .padding {
  padding: 35px 0px 0px 25px;
}

.basket .basket_title, .basket .cabinet_title {
  display: inline-block;
}

.basket .basket_title a.current, .basket .cabinet_title a.current {
  background-position: 0px -35px;
  font-weight: bold;
  height: 35px;
}

.basket .basket_title a, .basket .cabinet_title a {
  background: image-url('edit_bg_title.png') no-repeat;
  width: 90px;
  height: 28px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.basket .basket_title a.current span, .basket .cabinet_title a.current span {
  color: #fff;
  border: none;
}

.basket .basket_title a span, .basket .cabinet_title a span {
  color: #666;
  text-decoration: none;
  border-bottom: 1px dotted;
  position: relative;
  top: 5px;
}

.basket .cabinet_title {
  background-position: -97px -35px;
}

.basket .basket_title a, .basket .cabinet_title a {
  background: image-url('edit_bg_title.png') no-repeat;
  width: 90px;
  height: 28px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.basket_content {
  padding: 5px 0px 0px 50px;
  color: #888;
}

.cabinet_content {
  text-align: center;
  color: #888;
  padding: 20px 0px 0px 0px;
}

.basket_content .img {
  float: left;
  background: image-url('ico_basket.png') no-repeat 0px -63px;
  width: 31px;
  height: 32px;
  margin: 0px 20px 0px 10px;
}

.basket_content .buttons {
  margin: 10px 0px 0px 60px;
}

.buttons a {
  float: left;
  margin: 0px 10px 0px 0px;
  color: #666;
  text-decoration: none;
}

.basket_content .buttons a span.begin {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  height: 19px;
  width: 11px;
}

.basket_content .buttons a span {
  background-position: 0px -19px;
  height: 19px;
  padding: 0px;
  color: #fff;
}

.basket_content .buttons a span, .basket_content span.begin, .basket_content span.end {
  background-image: image-url('button_basket_top.png');
}

.buttons a span {
  background-repeat: repeat-x;
  background-position: 0px -32px;
  height: 32px;
  width: auto;
  padding: 0px 10px;
}

.buttons a span, span.begin, span.end {
  display: block;
  float: left;
  background-image: image-url('buttons.png');
}

.basket_content .buttons a span b {
  bottom: 0px;
}

.basket_content .buttons a span b {
  border: none;
}

.buttons a span b {
  position: relative;
  bottom: -7px;
  border-bottom: 1px dotted;
}

.basket_content .buttons a span.end {
  background-position: -11px 0px;
  background-repeat: no-repeat;
  height: 19px;
  width: 11px;
}

.buttons a span.end {
  background-position: -11px 0px;
  background-repeat: no-repeat;
  height: 32px;
  width: 11px;
  padding: 0px;
}

.basket_content .buttons a span {
  background-position: 0px -19px;
  height: 19px;
  padding: 0px;
  color: #fff;
}

.basket_content .buttons a span, .basket_content span.begin, .basket_content span.end {
  background-image: image-url('button_basket_top.png');
}

.buttons a span {
  background-repeat: repeat-x;
  background-position: 0px -32px;
  height: 32px;
  width: auto;
  padding: 0px 10px;
}

.cabinet_content {
  text-align: center;
  color: #888;
  padding: 5px 0px 0px 0px;
}

.basket-block {
  display: block !important;
}

.basket-none {
  display: none !important;
}

.bottom {
  background: #ddeef9;
  overflow: hidden;
  text-align: center;
  margin-top: 30px;
}

.bottom .align {
  margin: 0px auto;
  text-align: left;
  width: 1024px;
  position: relative;
}

.copyright {
  float: right;
  margin: 20px 0px 0px 0px;
  text-align: left;
  color: #666;
}

.well-elderflower {
  margin-top: 50px;
}

.show-products {
  margin-top: 20px;
}

.regions_call {
  text-align: center;
  font-size: 14px;
}

.regions_call_left {
  float: left;
  margin-left: 300px;
}

.regions_call_right {
  float: left;
  margin-left: 50px;
}

.bottom_grey {
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  ul {
    list-style-type: none;
    li {
      display: inline;
    }
  }
}

.footer-nav {
  color: #00536c;
  &:hover {
    border-bottom: 1px solid #00536c;
    color: #00536c;
  }
}

.bullet {
  padding: 10px;
}

.header-phone {
  margin: 30px 0px 20px 20px;
  float: right;
}

.regions_call_header_top {
  text-align: center;
  margin-bottom: 20px;
}

.regions_call_header {
  text-align: center;
}

.navbar {
  margin: 0;
  overflow: hidden;
}

.bullet-white {
  padding: 10px 0px;
}

.navbar-inner {
  height: 0;
  border: none;
  background-image: none;
  background-color: #f8a642;
  border-radius: 0px;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  ul {
    color: #fff;
    font-size: 14px;
    list-style-type: none;
    li {
      display: inline;
    }
  }
}

.header-nav {
  color: #fff;
  padding: 13px;
  &:hover {
    background-color: #70A61A;
    color: #fff;
  }
}

.button-nav {
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #EF8E19;
  &:hover {
    background-color: #70A61A;
    color: #fff;
  }
}

.link-nav {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.basket-img {
  padding: 0px 10px;
}

.cart {
  padding: 0px 10px;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
