<div style="text-align:center;">
  <% if product.quantity > 0 %>
    <%= form_for add_cart_for(product), remote: true do |f| %>
      <%= f.hidden_field :new_quantity, value: 1, min: 1, in: 1..product.quantity, class: 'input-mini' %>
      <%= f.hidden_field :increment, value: true %>
      <br/>
      <button class="btn btn-inverse add"><i class="icon-shopping-cart icon-white"></i>Добавить в корзину</button>
    <% end %>
  <% else %>
    <div class='out-of-stock'>
      <button class='btn btn-block btn-danger disabled'><i class="icon-shopping-cart icon-white"></i>Нет в наличии</button>
    </div>
  <% end %>
</div>
<div class='clearfix'></div>